<h1>Index</h1>

<h2>Multiple Upload</h2>
<input type="file" ng-file-select="onFileSelect($files)" multiple>


<h2>Single Upload</h2>
<input type="file" ng-file-select="onFileSelect($files)" >


<h2>Image Sizes</h2>

<div>
    Original
    <div>
        <img src="../../Images/jordan.jpeg" />
    </div>
</div>

<div>
    128 x 128
    <div>
        <img src="../../Images/jordan-128x128.jpeg" />
    </div>
</div>

<div>
    62 x 64
    <div>
        <img src="../../Images/jordan-64x64.jpeg" />
    </div>
</div>

<div>
    32 x 32
    <div>
        <img src="../../Images/jordan-32x32.jpeg" />
    </div>
</div>

<div>
    16 x 16
    <div>
        <img src="../../Images/jordan-16x16.jpeg" />
    </div>
</div>